/*
 * Filename: 		serif.css
 * Description:		Markdown CSS
 * Author:		Jonas Devlieghere
 * 				<info@jonasdevlieghere.com>
 * Website:		http://jonasdevlieghere.com
 */
@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Open+Sans:400italic,700italic,400,700);
@import url(//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css)

html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	color:#444444;
	background-color:#fefefe;
	font-family: 'Droid Serif', Georgia, serif;
	font-size:12pt;
	line-height:1.5em;
	padding:1em;
	margin:auto;
	max-width: 1024px;
}

a {
	color: #0645ad;
	text-decoration:none;
}
a:visited{ color: #0b0080; }
a:hover{ color: #06e; }
a:active{ color:#faa700; }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }

h1,h2,h3,h4,h5,h6{
	color: #111111;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 1em;
	margin: 15px 0px;
}
h1 { font-size: 2.5em; }
h2 {
	font-size: 2em;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
}
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.0em; }
h6 { font-size: 0.9em; }

p{
	margin:1em 0em;
	text-align: justify;
}

img{
	max-width: 100%;
	border: 0;
	vertical-align: middle;
}

blockquote{
	color: #666666;
	margin: 0;
	padding-left: 3em;
	border-left: 0.5em #eeeeee solid;
}

hr {
	display: block;
	height: 2px;
	border: 0;
	border-bottom: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

b, strong {
	font-weight: 700;
}

em, i {
	font-style: italic;
}

dfn {
	font-style: italic;
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
	}

mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: 700;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align:
	baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }


ul, ol {
	margin: 1em 0;
	padding: 0 0 0 2em;
	}

ol li {
	list-style-type: decimal;
	padding-bottom: 0.50em;
}

ul li {
	list-style-type: disc;
	padding-bottom: 0.50em;
}

li p:last-child {
	margin: 0;
}

dd {
	margin: 0 0 0 2em;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

td {
	vertical-align: top;
}

table th {
	font-weight: 700;
}

table th, table td {
	border: 1px solid #ccc;
	padding: 6px 13px;
}

table tr {
	border-top: 1px solid #ccc;
	background-color: #fff;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

pre, code, tt {
	font-size: 0.98em;
	font-size: 13px;
	line-height: 19px;
	font-family: Consolas, Courier, Monospace;
}

code, tt {
	margin: 0px;
	padding: 2px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

pre code, pre tt {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	white-space: pre;
	border: none;
	background: transparent;
}

@media only screen and (min-width: 480px) {
	body{font-size:14px;}
}

@media only screen and (min-width: 768px) {
	body{font-size:16px;}
}

@media print {
	body{font-size:8pt; max-width:80%;}
	a { text-decoration: none; }
	@page :left { margin: 15mm 21mm 15mm 10mm; }
	@page :right { margin: 15mm 10mm 15mm 10mm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}
